<div class="container" ng-controller="aboutController">
    <h1>About</h1>
    <p>Dette er en demo version af bAdmin app'en. Denne demo version indeholder lidt test data, som du kan bruge til at afprøve systemet. Du kan også oprette din egen test data.</p>
    <p> Demo versionen er lavet til nemt at kunne nulstilles. Det betyder, at du ikke kan regne med, at de data du selv oprette, vil blive gemt. Det betyder samtidig også, at du frit kan oprette, slette og ændre i det data du ser i app'en, uden at det har nogen konsekvens.</p>
    
    <a href="/#/">Ok, tak! Send mig tilbage til siden.</a>
</div>