<div class="container" ng-controller="findClubController">
    <div id="find-club-container">        
        <input type="text" class="form-control" ng-model="searchText" placeholder="Søg efter en klub">
        <ul>
            <li ng-repeat="club in listOfClubs | filter:searchText">{{club.name }} 
                <button class="btn btn-success find-club-btn" ng-click="applyAsMember(club)" ng-show="!userAlreadyMember(club) &&  !membershipAlreadyRequested(club)">Bliv medlem</button>
                <span id="find-club-request-pending-text" ng-show="!userAlreadyMember(club) && membershipAlreadyRequested(club)">Venter på klubbens svar på din anmodning</span>
                <span id="find-club-request-pending-text" ng-show="userAlreadyMember(club)">Du er allerede medlem af denne klub</span>
            </li>
        </ul>   
    </div>
</div>