<div class="container" ng-controller="clubController">
    <div id="find-club-container">        
        <input type="text" class="form-control" ng-model="searchText" placeholder="Søg efter en klub">
        <ul>
            <li ng-repeat="klub in listOfClubs | filter:searchText">{{klub.name }} 
                <button class="btn btn-success find-club-btn" ng-click="applyAsMember(klub)" ng-show="membershipAlreadyRequested(klub)">Bliv medlem</button>
                <span id="find-club-request-pending-text" ng-show="!membershipAlreadyRequested(klub)">Venter på klubbens svar på din anmodning</span>
            </li>
        </ul>   
    </div>
</div>