<div class="container" ng-controller="indexController">    
    
    <div id="index-no-clubs" ng-show="currentUserClubs.length == 0">
        <span class="center-text">Det ser ud til at du ikke endnu er registreret som medlem af en klub.</span><br>
        <a class="btn btn-success" href="#/findClub">Find klub</a>
        <a class="btn btn-primary" href="#/createClub">Opret ny klub</a>
    </div>



    <div id="index-with-clubs" ng-show="currentUserClubs.length > 0">
        <h2>Hi {{currentUserName}}</h2>
        <div class="div-floaty" id="index-with-clubs-greeting">
            <p class="p-floaty" ng-show="currentUserClubsAsCoachOrAdmin.length == 0">Du er medlem af {{currentUserClubs.length}} klubber.</p>
            <p class="p-floaty" ng-show="currentUserClubsAsCoachOrAdmin.length == 1">Du er medlem af {{currentUserClubs.length}} klubber, og kan administrere {{currentUserClubsAsCoachOrAdmin.length}} klub.</p>
            <p class="p-floaty" ng-show="currentUserClubsAsCoachOrAdmin.length > 1">Du er medlem af {{currentUserClubs.length}} klubber, og kan administrere {{currentUserClubsAsCoachOrAdmin.length}} klubber.</p>
            
            <a class="a-right-floaty btn btn-sm btn-primary" href="#/createClub">Opret ny klub</a>
            <a class="a-right-floaty btn btn-sm btn-success" href="#/findClub">Find klub</a>
        </div>

        <div id="index-club-list" ng-repeat="club in currentUserClubs">

            <div ng-if="isCoachOrAdmin(club)"><p class="lead">Kommende træningspas i <a href="#/adminClub/{{club.id}}">{{club.name}}</a> <em id="club-can-admin-text" class="bg-warning"> Du kan administrere denne klub</em></p></div>
            <div ng-if="!isCoachOrAdmin(club)"><p class="lead">Kommende træningspas i {{club.name}}</p></div>

            <div class="div-floaty" ng-repeat="practice in currentUserPractices | filter: {club: club.id}">
                <p class="p-floaty"> {{practice.name}} {{formatDate(practice.startTime)}} ({{practice.durationMinutes}} minutter)</p>
                
                
                <button ng-class="{'btn': true, 'tilmeld-traening-btn': true, 'btn-default': !practiceSelectionIsConfirmed(practice), 'btn-success': practiceSelectionIsConfirmed(practice)}" ng-click="confirmPractice(practice)">Jeg kommer!</button>
                
                <button ng-class="{'btn': true, 'tilmeld-traening-btn': true, 'btn-default': !practiceSelectionIsRejected(practice), 'btn-danger': practiceSelectionIsRejected(practice)}" ng-click="rejectPractice(practice)">Jeg kommer ikke!</button>


                <p id="p-tilmeld-traening" class="small"><em>{{practice.confirmed.length}} deltager, {{practice.rejected.length}} deltager ikke ({{practice.invited.length}} har ikke svaret)</em></p>
            <div>
            <br/><br/>
        </div>
    </div>

</div>
