<!doctype html>
<html ng-app="bAdminApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="http://localhost:5000/static/img/favicon.jpg" />

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <!-- BOOTSTRAP CDN: Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- BOOTSTRAP CDN: Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- BOOTSTRAP CDN: Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Bootstrap Datepicker CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

        <!-- AngularJS and plugins -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="http://code.angularjs.org/1.5.7/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.js"></script>

        <!-- moment.js CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>

        <!-- Application local -->
        <link rel="stylesheet" href="/static/css/bAdmin.css"/>
        <script src="/static/js/authService.js"></script>
        <script src="/static/js/bAdminAPIService.js"></script>
        <script src="/static/js/bAdminApp.js"></script>

    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">bAdmin</a>
                </div>
                                
                <div class="fb-login-button navbar-right navbar-btn" data-max-rows="1" data-size="small" data-show-faces="false" data-auto-logout-link="true"></div>

                <div class="navbar-center-text">
                    <p class="text-center" ng-if="currentUserName">Logget ind som {{currentUserName}}</p>
                </div>
            </div>
        </nav>
        <p class="bg-danger small" style="padding-top:50px;text-align:center;">Dette er en demo version af app'en, og indeholder kun test data. Du kan ikke regne med dine ændring bliver gemt i længere tid. <a href="#/about">Læs mere her</a></p>
        <div id="partial-content-container">
            <div ng-view ng-controller="ngviewController">
            </div> 
        </div>
    </body>
</html>
